header::before {
	content: '';
	width: 100vw;
	height: 400px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #fff;
	z-index: -1;
}

header .left-side {
	width: 50%;
	min-width: 400px;
	margin: 150px 0;
}

header #ond-header > img {
	width: 30%;
	object-fit: contain;
	position: absolute;
	bottom: -50px;
	left: 50%;
}

ul {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: space-evenly;
	list-style-type: none;
}

li {
	flex: 0 1 calc(33.33% - 70px);
	min-width: 320px;
	margin: 0 35px 100px;
	text-align: center;
}

li h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: 600;
	line-height: 1.23;
	margin-top: 30px;
}
