:root {
	--reasons-min: 20;
	--reasons-max: 26;
	--reasons-calc: calc(var(--reasons-min) * 0.1rem + (var(--reasons-max) - var(--reasons-min)) * ((100vw - 48rem) / (1440 - 480)));
	--reasons-size: max(var(--reasons-min) * 0.1rem, min(var(--reasons-calc), var(--reasons-max) * 0.1rem));
}

header::before {
	content: '';
	width: 100%;
	height: 45%;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #fff;
	z-index: -1;
}

header .left-side {
	width: 50%;
	min-width: 28rem;
	margin: 7.5vw 0;
}

header .left-side .store a {
	width: 49%;
	display: inline-block;
}
header .left-side .store a img {
	width: 100%;
}

header #ond-header > img {
	width: 30%;
	-o-object-fit: contain;
	   object-fit: contain;
	position: absolute;
	bottom: -5rem;
	left: 50%;
}

ul.reasons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.reasons li {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 calc(33.33% - 7rem);
	        flex: 0 1 calc(33.33% - 7rem);
	min-width: 28rem;
	margin: 0 calc(var(--reasons-size) + 0.5rem) 5vw;
	text-align: center;
}

ul.reasons li h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: var(--reasons-size);
	font-weight: 600;
	line-height: 1.23;
	margin-top: var(--reasons-size);
}
