nav { background-color: #ED561B; }
body { padding-top: 200px; }
p {
	font-family: 'Montserrat';
	font-size: 30px;
	line-height: 1.2;
	color: #000;
	margin-bottom: 40px;
}
p.date {
	font-size: 18px;
	font-style: italic;
	margin-bottom: 10px;
	color: #555;
}
p.question { position: relative; }
p.question,
p.legal-title {
	font-weight: bold;
	margin-bottom: 0;
}

ul.faq-list {
	list-style-type: none;
	padding-inline-start: 0;
}

ul.faq-list li p.question::before {
	content: url('../pictures/question.png');
	position: absolute;
	right: calc(100% + 15px);
	top: 0;
}
