:root {
	--p18-min: 12;
	--p18-max: 18;
	--p18-calc: calc(var(--p18-min) * 0.1rem + (var(--p18-max) - var(--p18-min)) * ((100vw - 48rem) / (1440 - 480)));
	--p18-size: max(var(--p18-min) * 0.1rem, min(var(--p18-calc), var(--p18-max) * 0.1rem));
}

nav { background-color: #ED561B; }
p {
	font-family: 'Montserrat';
	font-size: var(--button-size);
	line-height: 1.2;
	color: #000;
	margin-bottom: calc(var(--button-size) * 1.33);
}
p.date {
	font-size: var(--p18-size);
	font-style: italic;
	margin-bottom: 1rem;
	color: #555;
}
p.question { position: relative; }
p.question,
p.legal-title {
	font-weight: bold;
	margin-bottom: 0;
}

ul.faq-list {
	list-style-type: none;
	padding: 0 2.5vw 0 5rem;
}

ul.faq-list li p.question::before {
	content: '';
	background-image: url('../pictures/question.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	width: 2.5rem;
	height: 2.5rem;
	position: absolute;
	right: calc(100% + 1.5rem);
	bottom: 0;
}
