:root {
	--p20-min: 12;
	--p20-max: 20;
	--p20-calc: calc(var(--p20-min) * 0.1rem + (var(--p20-max) - var(--p20-min)) * ((100vw - 48rem) / (1440 - 480)));
	--p20-size: clamp(var(--p20-min) * 0.1rem, var(--p20-calc), var(--p20-max) * 0.1rem);
}

header::before {
	content: '';
	width: 100vw;
	height: 40%;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #fff;
	z-index: -1;
}

header .left-side {
	width: 50%;
	min-width: 28rem;
	margin: 2vw 0;
}
header .left-side .store a.store-link {
	width: 49%;
	display: inline-block;
}
header .left-side .store a.store-link img {
	width: 100%;
}

header #ond-header > img {
	width: 45%;
	-o-object-fit: contain;
	   object-fit: contain;
	position: absolute;
	bottom: -5rem;
	left: 50%;
}

ul.pro-list { list-style-type: none; }
ul.pro-list li {
	margin-bottom: 2vw;
	padding-left: calc(var(--button-size) * 2);
	position: relative;
}
ul.pro-list li img {
	 position: absolute;
	 left: 0;
	 top: -1rem;
	 display: block;
	 width: calc(var(--button-size) * 2 - 0.4rem);
	 height: calc(var(--button-size) * 2 - 0.4rem);
 }
ul.pro-list li p {
	font-family: 'Montserrat', sans-serif;
	font-size: var(--button-size);
	line-height: 1.23;
}

#formula .wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-ms-flex-pack: distribute;
	    justify-content: center;
}

#formula h2 {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 100%;
	        flex: 0 0 100%;
}

#formula .offers-col {
	-webkit-box-flex: 0;
	    -ms-flex: 1 0 50%;
	        flex: 1 0 50%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	min-width: 28rem;
	max-width: 55rem;
	padding: 2% 3% 4%;
	border-radius: 3.5vw;
	-webkit-box-shadow: 0 0 5rem rgba(0, 0, 0, 0.3);
	        box-shadow: 0 0 5rem rgba(0, 0, 0, 0.3);
	position: relative;
	background-color: #fff;
	margin: 5vw 2.5vw;
}

#formula .offers-col.inactive {
	background-color: #E8E8E8;
}

#formula .offers-col::before {
	content: attr(label);
	position: absolute;
	left: -7.5%;
	top: 6rem;
	-webkit-transform-origin: bottom left;
	    -ms-transform-origin: bottom left;
	        transform-origin: bottom left;
	-webkit-transform: rotate(-20deg);
	    -ms-transform: rotate(-20deg);
	        transform: rotate(-20deg);
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	background-color: #ED561B;
	font-family: 'Montserrat', sans-serif;
	font-size: var(--p20-size);
	font-weight: bold;
	padding: 1rem;
	width: 50%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-clip-path: polygon(6% 0, 100% 0px, 94% 100%, 0px 100%);
	        clip-path: polygon(6% 0, 100% 0px, 94% 100%, 0px 100%);
}

#formula .offers-col::after {
	content: '';
	position: absolute;
	left: -7.5%;
	top: 6rem;
	z-index: -1;
	background-color: #A3310D;
	-webkit-transform-origin: bottom left;
	    -ms-transform-origin: bottom left;
	        transform-origin: bottom left;
	-webkit-transform: rotate(25deg);
	    -ms-transform: rotate(25deg);
	        transform: rotate(25deg);
	height: 4.4rem;
	width: 50%;
}

#formula h3,
#formula h4 {
	line-height: 1.2;
	font-family: 'Encode Sans', sans-serif;
	color: #F2865E;
	text-align: center;
	font-weight: bold;
}
#formula h3 { font-size: var(--h1h2-size); }
#formula h4 { font-size: var(--header-size); }

#formula p.price-precision {
	line-height: 1.2;
	font-size: var(--p20-size);
	font-family: 'Encode Sans', sans-serif;
	font-weight: 300;
	color: #000;
	text-align: center;
}

#formula .offers-col.inactive h3,
#formula .offers-col.inactive h4,
#formula .offers-col.inactive p.price-precision{ color: #CECECE; }

#formula ul.bundle {
	list-style-type: none;
}

#formula ul.bundle li {
	font-family: 'Montserrat', sans-serif;
	font-size: var(--navtxt-size);
	line-height: 1.3;
	margin: var(--navtxt-size) 0;
	padding-left: 4rem;
	position: relative;
}
#formula .offers-col.inactive ul.bundle li { color: rgba(0, 0, 0, 0.3); }

#formula ul.bundle li::before {
	position: absolute;
	left: 0;
	top: 0;
}
#formula .offers-col.inactive ul.bundle li::before { -webkit-filter: grayscale(1); filter: grayscale(1); }

#formula ul.bundle li.included::before { content: url('../pictures/included.png'); }
#formula ul.bundle li.notincluded::before { content: url('../pictures/not-included.png'); }
#formula ul.bundle li.notincluded { color: rgba(0,0, 0, 0.3); }

#formula p.tryme {
	margin: calc(var(--p20-size) * 2.5) 0 var(--p20-size);
	text-align: center;
	line-height: 1.2;
	font-size: var(--p20-size);
	font-family: 'Encode Sans', sans-serif;
	font-weight: bold;
	color: #000;
}
#formula .offers-col.inactive p.tryme { color: rgba(0, 0, 0, 0.3); }
#formula .offers-col.inactive a.offer-btn {
	background-color: #D2D2D2;
	border-color: #D2D2D2;
	pointer-events: none;
}
