<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>Order'N Drink - Qui sommes nous?</title>
  <meta name="description" content="Order'N Drink - A Propos">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="../js/nav.js"></script>
  <link rel="stylesheet" href="../css/global.css">
  <link rel="stylesheet" href="../css/about.css">
</head>

<body>
  <div class="container">
    <div class="wrapper">
      <img class="bg" src="../pictures/about-head.png" alt="grande image representant une personne au telephone">
      <h1>Qui sommes-nous?</h1>
      <p class="description">Order'N Drink est une application qui permet d’offrir aux utilisateurs de toutes sortes une solution pour pallier à la surcharge de clientèle dans les établissements proposant des boissons. Tout cela en leur en leur proposant un système de commande et de paiement automatisé sous forme d’application mobile.</p>
      <img class="aboutimg" src="../pictures/about-mockup.png" alt="captures d'ecran successives de telephones avec l'application">
      <a class="more" href="/about/faq"><p>FAQ</p><img class="more-icon" src="../pictures/arrow.png"></a><br/>
      <a class="more" href="/about/legal"><p>Mentions légales</p><img class="more-icon" src="../pictures/arrow.png"></a>
    </div>
  </div>
</body>
<footer>
  <script src="../js/footer.js"></script>
  <script src="../js/global.js"></script>
</footer>

</html>
