<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>Click'N Drink - Contact</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="../js/nav.js"></script>
  <!-- 
      <link rel="stylesheet" href="style.css">
      <script src="script.js"></script>
    -->
</head>

<body>

  <h1>Contacter l'équipe Click'N Drink</h1>
  <div class="container">
    <div class="row">
      <a href="/contact/form-customer">
        <div class="col-6">
          <div class="card" style="width: 18rem;">
            <img src="../pictures/client.jpg" class="card-img-top" alt="client">
            <div class="card-body">
              <p class="card-text">Je suis un particulier</p>
            </div>
          </div>
        </div>
      </a>
      <a href="/contact/form-pro">
        <div class="col-6">
          <div class="card" style="width: 18rem;">
            <img src="../pictures/waiter.png" class="card-img-top" alt="chef d'établissement">
            <div class="card-body">
              <p class="card-text">Je suis un chef d'établissement</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</body>
<footer>
  <script src="../js/footer.js"></script>
</footer>

</html>