<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>Order'N Drink - Particulier</title>
  <script src="../js/nav.js"></script>
  <!-- 
      <link rel="stylesheet" href="style.css">
      <script src="script.js"></script>
    -->
</head>

<body>
 
  <div class="container">
    <h1>10 bonnes raisons d'utiliser Order'N Drink</h1>
    <ul>
      <li>Cette application vous permettera de "gruger" la file d'attente les jeudi soirs dans nos bars partenaires</li>
      <li>Fini la monnaie! Vous pouvez payer vos verres avec divers services de paiement en ligne 100% sécurisés</li>
      <li>Grâce à Lydia paiements vous pouvez partager l'addition sans prise de tête et commander pour toute la table
      </li>
      <li>Plus besoin de mesurer 1m90 pour voir la carte dans ses détails</li>
      <li>Les prix sont les mêmes qu'au comptoir</li>
      <li>Click 'N Drink vous propose des établissements grâce à la géolocalisation de votre smartphone</li>
      <li>Vous permet de commander en quelques secondes</li>
      <li>Ce service est gratuit et adapté à tous</li>
      <li>Vous serez averti des promotions de vos établissements favoris avant tout le monde</li>
      <li>Click'N Drink est une entreprise 100% francaise crée par 6 étudiants des métiers du digital</li>
    </ul>
  </div>
 <div class="container">
    <div class="row">
      <a href="/customer/form-customer">
        <div class="col-4">
          <div class="card" style="width: 10rem;">
            <img src="../pictures/mail.png" class="card-img-top" alt="client">
            <div class="card-body">
              <p class="card-text">Contacter le service client</p>
            </div>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="col-4">
          <div class="card" style="width: 10rem;">
            <img src="../pictures/android.png" class="card-img-top" alt="chef d'établissement">
            <div class="card-body">
              <p class="card-text">Télécharger l'application pour android</p>
            </div>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="col-4">
          <div class="card" style="width: 10rem;">
            <img src="../pictures/apple.png" class="card-img-top" alt="chef d'établissement">
            <div class="card-body">
              <p class="card-text">Télécharger l'application pour IOS</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</body>
<footer>
  <script src="../js/footer.js"></script>
</footer>

</html>