<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>Order'N Drink - FAQ</title>
  <script src="../js/nav.js"></script>
  <!-- 
      <link rel="stylesheet" href="style.css">
      <script src="script.js"></script>
    -->
</head>

<body>
    <div class="container">
      <h1>FAQ</h1>
      <p class="description">Vous retrouverez sur cette page les questions les plus fréquement posées et les réponses de notre équipe.</p>
      <ul class="faq-list">
        <li>
          <img src="../pictures/question.png">
          <p class="question">sunt aliqua put a bird on it squid single-origin coffee ? </p>
          <p class="answer">nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
        </li>
        <li>
          <img src="../pictures/question.png">
          <p class="question">sunt aliqua put a bird on it squid single-origin coffee ? </p>
          <p class="answer">nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
        </li>
        <li>
          <img src="../pictures/question.png">
          <p class="question">sunt aliqua put a bird on it squid single-origin coffee ? </p>
          <p class="answer">nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
        </li>
        <li>
          <img src="../pictures/question.png">
          <p class="question">sunt aliqua put a bird on it squid single-origin coffee ? </p>
          <p class="answer">nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
        </li>
        <li>
          <img src="../pictures/question.png">
          <p class="question">sunt aliqua put a bird on it squid single-origin coffee ? </p>
          <p class="answer">nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
        </li>
        <li>
          <img src="../pictures/question.png">
          <p class="question">sunt aliqua put a bird on it squid single-origin coffee ? </p>
          <p class="answer">nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
        </li>
        <li>
          <img src="../pictures/question.png">
          <p class="question">sunt aliqua put a bird on it squid single-origin coffee ? </p>
          <p class="answer">nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
        </li>
        <li>
          <img src="../pictures/question.png">
          <p class="question">sunt aliqua put a bird on it squid single-origin coffee ? </p>
          <p class="answer">nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
        </li>
      </ul>
    </div>
</body>
<footer>
  <script src="../js/footer.js"></script>
</footer>

</html>