<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>Order'N Drink - FAQ</title>
  <meta name="description" content="Order'N Drink - FAQ">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="../js/nav.js"></script>
  <link rel="stylesheet" href="../css/global.css">
  <link rel="stylesheet" href="../css/legal.css">
</head>

<body>
    <div class="container">
      <div class="wrapper">
      <h1>FAQ</h1>
      <p class="description">Vous retrouverez sur cette page les questions les plus fréquement posées et les réponses de notre équipe.</p>
      <ul class="faq-list">
        <li>
          <p class="question">Comment m'inscrire? </p>
          <p class="answer">Si vous êtes un professionnel, nous vous accompagnons dans la création de compte et la création de votre établissement. Pour bénéficier de cette aide, vous pouvez nous contacter via notre formulaire de contact<a href="/contact">ici</a> ou par téléphone au 01 76 09 34 08.
            Si vous etes un particulier, vous pouvez directement vous inscrire en telechargeant l'application <a href="#">Android</a> ou <a href="#">IOS</a>.</p>
        </li>
        <li>
          <p class="question">Es-ce qu'il est possible de mettre avant mon établissement? </p>
          <p class="answer">En tant que chef d'établissement, vous pouvez contribuer à la mise en avant de votre établissement en envoyant des notifications promotionnelles aux clients se situant pas loin de votre établissement et aux personnes ayant "liké" votre établissement.</p>
        </li>
        <li>
          <p class="question">Est-il possible d'exporter les données de vente pour les entrer dans mon logiciel de caisse? </p>
          <p class="answer">Vous pouvez effectivement télécharger vos données de vente en format XML et CSV afin de les importer dans votre logiciel de caisse ou bien dresser vos comptes.</p>
        </li>
        <li>
          <p class="question">Ai-je besoin d'un équipement particulier?</p>
          <p class="answer">Tout ce dont vous avez besoin, c'est d'un smartphone par équipier, le téléphone doit fonctionner pour les téléphones Android sous une version minimale d'Android 5 Lollipop. Cependant, utiliser des tablettes tactiles pour une meilleure distinction des éléments affichés est vivement recommandée pour une expérience optimale.</p>
        </li>
        <li>
          <p class="question">Quels sont les prix des transactions? </p>
          <p class="answer">Le coût des transactions peut varier selon le mode de paiement choisi par le client, nous prenons en charge 50% de ce montant si il depasse les 0,05 ct d'euros.</p>
        </li>
        <li>
          <p class="question">Je me suis inscrit sur l'application et je ne trouve pas d'établissements autour de moi, que faire? </p>
          <p class="answer">Si vous ne trouvez pas d'établissements autour de vous, c'est qu'aucun établissement n'as encore souscrit à notre service dans cette zone, vous pouvez donc, en attendant, nous recommander aux établissements aux alentours dans l'espoir de voir son nom s'afficher sur votre carte un jour ;) n'oubliez pas non plus de nous suivre sur nos réseaux sociaux pour être au courant des dernières nouvelles!</p>
        </li>
        <li>
          <p class="question">De quelle garantie puis-je bénéficier en cas de litige?</p>
          <p class="answer">En cas de litige, nous ouvrons un dossier et nous négocions avec les deux parties afin de trouver un accord. En cas de mésentente, nous nous engageons à indemniser la victime de ce litige.</p>
        </li>
        <li>
          <p class="question">Je souhaite une version adaptée de ce service, a qui dois-je m'adresser? </p>
          <p class="answer">Si vous souhaitez une version plus adaptée pour votre établissement, vous pouvez noue le faire savoir grâce à notre <a href="/contact">formulaire de contact</a> mais également par téléphone au 01 76 09 34 08.</p>
        </li>
      </ul>
      </div>
    </div>
</body>
<footer>
  <script src="../js/footer.js"></script>
  <script src="../js/global.js"></script>
</footer>

</html>
