<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>Order'N Drink - Contact</title>
  <script src="../js/nav.js"></script>
  <script src="../js/form-control.js"></script>
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <!-- 
      <link rel="stylesheet" href="style.css">
      <script src="script.js"></script>
    -->
</head>

<body>
  <div class="container">
    <img class="bg" src="../pictures/contact-head.png">
    <h1>Formulaire de contact</h1>

    <div class="form">
        <form method="POST" name="sendmail" action="" id="form">

          <div class="ispro-group">
            <label for="part">Particulier</label>
            <input type="radio" name="ispro" class="form-control" id="part" value="1" checked>

            <label for="pro">Professionnel</label>
            <input type="radio" name="ispro" class="form-control" id="pro" value="0">
          </div>

          <div class="name-group">
            <label for="name">Nom</label><p id="errname"></p>
            <input type="text" name="name" class="form-control" id="name" placeholder="Nom" onblur="checkName()">
          </div>


          <div class="surname-group">
            <label for="surname">Prénom</label><p id="errsurname"></p>
            <input type="text" name="surname" class="form-control" id="surname" placeholder="Prénom" onblur="checkSurname()">
          </div>

          <div class="email-group">
            <label for="email">Email</label><p id="erremail"></p>
            <input type="email" name="from" class="form-control" id="email" placeholder="Email" onblur="checkMail()">
          </div>

          <div class="ent-name-group">
            <label for="entname">Nom de l'entreprise</label>
            <input type="text" name="entname" class="form-control" id="entname" placeholder="MonEntreprise">
          </div>

          <div class="tel-group">
            <label for="tel">Numero de telephone</label><p id="errtel"></p>
            <input type="text" name="tel" class="form-control" id="tel" placeholder="0102030405" onblur="checkNumber()">
          </div>

          <div class="subject-group">
            <label for="inlineFormCustomSelectPref">Sujet</label>
              <select class="custom-select" name="subject" id="inlineFormCustomSelectPref">
                <option value="1">Je souhaite en savoir plus concernant le service</option>
                <option value="2">J'aimerais prendre rendez-vous avec l'équipe Click'N Drink</option>
                <option value="3">Je souhaite m'inscrire au service</option>
                <option value="4">J'ai trouvé un bug!</option>
                <option value="5">J'ai rencontré un problème</option>
                <option value="6">Je souhaite fermer mon compte</option>
                <option value="7">Autre</option>
              </select>
          </div>


          <div class="message-group">
            <label for="message">Message</label><p id="errmessage"></p>
            <textarea class="form-control" name="message" id="message" placeholder="Message" onblur="checkMessage()"></textarea>
          </div>

          <div class="reglement-check">
            <label for="reglement">Je concent a partager ces informations avec l'equipe Order'n Drink</label>
              <input type="checkbox" id="reglement" name="reglement" onclick="checkAll()">
          </div>


          
          <script>
            function onSubmit(token) {
              document.getElementById("form").submit();
            }
          </script>


      </form>
      <div class="button">
      <!-- Recaptcha input -->
            <input type="submit" id="sendform" class="btn btn-primary g-recaptcha" data-sitekey="6Lc6WfsUAAAAAE0YLlqR5OOUEcsOv4rQMN8Y66wp" 
            data-callback='onSubmit' data-action="submit" value="Envoyer" onclick="checkAll"> 
        <!-- <input type="submit" id="sendform" class="btn btn-primary" value="Envoyer" onclick="checkAll">-->
      </div>
    </div>
  </div>
</body>
<footer>
  <script src="../js/footer.js"></script>
</footer>

</html>