<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Order'N Drink - Accueil</title>
    <script src="../js/nav.js"></script>
    <!-- 
      <link rel="stylesheet" href="style.css">
    -->
  </head>
  <body>
    <div class="head">
      <img class="bg" src="../pictures/welcome-bg.png">
      <p class="lead"><p class="bold">Order'N Drink </p> est la solution pour faciliter la commande sur place dans vos bars favoris.</p>
      <div class="store">
        <a class="store-link" href="#"><img class="btn" src="../pictures/app-store.png"></a>
        <a class="store-link" href="#"><img class="btn" src="../pictures/google-play.png"></a>
      </div>
      <img class="welcome-mockup" src="../pictures/mockup-APP.png">
      <div class="dl">
        <p>Profitez des meilleurs bars et des meilleurs happy hours autour de vous en temps réel</p>
        <a class="download" href="#">Telecharger</a>
      </div>
    </div>

    <div class="fake-video">
      <h1 class="article">Découvrez Order'N Drink</h1>
      <img class="video" src="../pictures/fake-video.png">
    </div>

    <div class="container">
      <h1 class="article">5 bonnes raisons d'utiliser Order'N Drink</h1>
      <ul>
        <li>
          <img class="article-icon" src="../pictures/people.png">
          <h3 class="reason">Plus de file d'attente les jeudi soirs dans nos bars partenaires</h3>
        </li>
                <li>
          <img class="article-icon" src="../pictures/chrono.png">
          <h3 class="reason">Vous permet de commander en quelques secondes</h3>
        </li>
                <li>
          <img class="article-icon" src="../pictures/notif.png">
          <h3 class="reason">Soyez au courant des promos de vos bars favoris avant tous</h3>
        </li>
                <li>
          <img class="article-icon" src="../pictures/app.png">
          <h3 class="reason">Paiement en ligne 100% sécurisé </h3>
        </li>
                <li>
          <img class="article-icon" src="../pictures/money.png">
          <h3 class="reason">Les prix sont les mêmes qu'au comptoir</h3>
        </li>
      </ul>
    </div>
  </body>
  <footer>
    <script src="../js/footer.js"></script>
  </footer>
</html>