<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Order'N Drink - Accueil</title>
    <meta name="description" content="Order'N Drink - Accueil">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../js/nav.js"></script>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/index.css">
  </head>
  <body>
    <header>
      <div id="ond-header" class="wrapper">
        <div class="left-side">
          <img class="bg" src="../pictures/welcome-bg.png">
          <p class="lead"><b class="bold">Order'N Drink </b> est la solution pour faciliter la commande sur place dans vos bars favoris.</p>
          <div class="store">
            <a class="store-link" href="#"><img class="btn" src="../pictures/app-store.png"></a>
            <a class="store-link" href="#"><img class="btn" src="../pictures/google-play.png"></a>
          </div>
          <div class="dl">
            <p>Profitez des meilleurs bars et des meilleurs happy hours autour de vous en temps réel</p>
            <a class="download" href="#">Telecharger</a>
          </div>
        </div>
        <img class="welcome-mockup" src="../pictures/mockup-APP.png">
      </div>
    </header>

    <div class="fake-video">
      <div class="container">
        <div class="wrapper">
          <h1 class="article">Découvrez Order'N Drink</h1>
          <img class="video" src="../pictures/fake-video.png">
        </div>
      </div>
    </div>

    <div class="container">
      <div class="wrapper">
        <h2 class="article">5 bonnes raisons d'utiliser Order'N Drink</h2>
        <ul class="reasons">
          <li>
            <img class="article-icon" src="../pictures/people.png">
            <h3 class="reason">Plus de file d'attente les jeudi soirs dans nos bars partenaires</h3>
          </li>
                  <li>
            <img class="article-icon" src="../pictures/chrono.png">
            <h3 class="reason">Vous permet de commander en quelques secondes</h3>
          </li>
                  <li>
            <img class="article-icon" src="../pictures/notif.png">
            <h3 class="reason">Soyez au courant des promos de vos bars favoris avant tous</h3>
          </li>
                  <li>
            <img class="article-icon" src="../pictures/app.png">
            <h3 class="reason">Paiement en ligne 100% sécurisé </h3>
          </li>
                  <li>
            <img class="article-icon" src="../pictures/money.png">
            <h3 class="reason">Les prix sont les mêmes qu'au comptoir</h3>
          </li>
        </ul>
      </div>
    </div>
  </body>
  <footer>
    <script src="../js/footer.js"></script>
    <script src="../js/global.js"></script>
  </footer>
</html>
