<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Order'N Drink - Accueil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="../js/nav.js"></script>
    <!-- 
      <link rel="stylesheet" href="style.css">
      <script src="script.js"></script>
    -->
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display-4">Order'N Drink</h1>
      <p class="lead">Order'N Drink est une solution à disposition de tous les propriètaires de bars permettant l'automatisation des commandes sur place.</p>
      <hr class="my-4">
      <p>Grâce à click end drink, il est possible de commander de payer depuis son smartphone. Adieu les oublis de commandes les files interminables en happy hour, la commande est récupérée auprès du serveur et tout cela dans une ambiance conviviale !</p> 
      <p>Demandez un essai gratuit en nous contactant directement.</p>
      <a class="btn btn-primary btn-lg" href="/about" role="button">En savoir plus...</a>
    </div>
  </body>
  <footer>
      <script src="../js/footer.js"></script>
  </footer>
</html>