<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>Order'N Drink - Devenir partenaire</title>
  <meta name="description" content="Order'N Drink - Devenir Partenaire">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="../js/nav.js"></script>
  <link rel="stylesheet" href="../css/global.css">
  <link rel="stylesheet" href="../css/professional.css">
</head>

<body>
  <header>
    <div id="ond-header" class="wrapper">
      <div class="left-side">
        <img class="bg" src="../pictures/pro-head.png" alt="grande image barman en train de preparer un cocktail">
        <p class="lead"><b>Order'N Drink </b>est une solution à disposition de tous les propriétaires de bars permettant l'automatisation des commandes sur place.</p>
        <div class="store">
          <a class="store-link" href="#"><img class="btn" src="../pictures/app-store.png" alt="logo de l'app store d'apple"></a>
          <a class="store-link" href="http://cdn.orderndrink.com/app/app-release.apk"><img class="btn" src="../pictures/google-play.png" alt="logo du google play store"></a>
          <div class="button">
            <a class="contact" href="/form"><img class="contact-icon" src="../pictures/msg.png" alt="logo message">Contacter le service client</a>
          </div>
        </div>
      </div>
      <img class="tablet-mockup" src="../pictures/tablet-mockup.png" alt="capture d'ecran de tablette avec notre application">
    </div>
  </header>
  <div class="container">
    <div class="wrapper">
      <h1 class="article">Le service Order'N Drink</h1>
      <ul class="pro-list">
        <li>
          <img class="check" src="../pictures/check.png" alt="icone inclus">
          <p>Order'N Drink est une solution permettant de digitaliser les commandes au sein des établissements de débit de boisson proposant au client de prendre ses commandes 
lui-même, grâce à une application disponible sur les smartphones sous Android et IOS.</p>
        </li>
        <li>
          <img class="check" src="../pictures/check.png" alt="icone inclus">
          <p>Le client pourra payer grâce aux nombreuses plateformes de paiement 100% sécurisées proposées : Google pay, Apple pay, Lydia, Paypal Visa et Mastercard.</p>
        </li>
        <li>
          <img class="check" src="../pictures/check.png" alt="icone inclus">
          <p>Lorsqu'une commande est effectuée et payée, le responsable recevra immédiatement le résumé de la commande sur son appareil Apple ou Android, aucun besoin de matériel supplémentaire.</p>
        </li>
        <li>
          <img class="check" src="../pictures/check.png" alt="icone inclus">
          <p>Un numéro de commande ainsi qu'un QR Code seront fournis au client afin de permettre au responsable de vérifier les commandes. Les preuves d'achat pourront être conservées.</p>
        </li>
        <li>
          <img class="check" src="../pictures/check.png" alt="icone inclus">
          <p>Notre application propose également un accès à un tableau de bord personnalisé avec des statistiques poussées afin de vous permettre une analyse clientèle efficiente.</p>
        </li>
        <li>
          <img class="check" src="../pictures/check.png" alt="icone inclus">
          <p>Par le biais de ce service, vous pourrez également envoyer des notifications à vos clients afin de les informer sur les évènements spéciaux ou les promotions pratiquées pour une prospection optimale.</p>
        </li>
      </ul>
    </div>
  </div>
  <div id="formula" class="container">
    <div class="wrapper">
    <h2 class="article">Nos formules</h2>
    <div class="offers-col" label="recommandé">
      <h3 class="card-title">Basic</h3>
      <h4 class="price">30 €</h4>
      <p class="price-precision">/ mois</p>
      <ul class="bundle">
        <li class="included">Statistiques de vente</li>
        <li class="included">Téléchargement des factures</li>
        <li class="notincluded">Base de données clients</li>
        <li class="notincluded">Envoi de notifications promotionnelles aux clients</li>
        <li class="notincluded">Ciblage des utilisateurs selon les statistiques</li>
      </ul>
      <p class="tryme">Essai gratuit de 7 jours</p>
      <a class="offer-btn" href="#">J'en profite</a>
    </div>
    <div class="offers-col inactive" label="prochainement">
      <h3 class="card-title">Premium</h3>
      <h4 class="price">50 €</h4>
      <p class="price-precision">/ mois</p>
      <ul class="bundle">
        <li class="included">Statistiques de vente </li>
        <li class="included">Téléchargement des factures</li>
        <li class="included">Base de données clients</li>
        <li class="included">Envoi de notifications promotionnelles aux clients</li>
        <li class="included">Ciblage des utilisateurs selon les statistiques</li>
      </ul>
      <p class="tryme">Essai gratuit de 7 jours</p>
      <a class="offer-btn" href="#">J'en profite</a>
    </div>
    </div>
  </div>
</body>
<footer>
  <script src="../js/footer.js"></script>
  <script src="../js/global.js"></script>
</footer>

</html>
