<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>Click'N Drink - Propriétaire d'établissement</title>
  <script src="../js/nav.js"></script>
  <!-- 
      <link rel="stylesheet" href="style.css">
      <script src="script.js"></script>
    -->
</head>

<body>
    <div class="container">
    <h1>Le service Click'N Drink</h1>
    <ul>
      <li>Click'N Drink est une solution permettant de digitaliser les commandes au sein des établissements de débit de
        boisson. Elle permettera au client de prendre ses commandes lui-même grâce à une application disponible sur les
        smartphones sous Android et IOS.</li>
      <li>Le client pourra payer grâce aux nombreuses plateformes de paiement proposées : Google pay, Apple pay, Lydia,
        Paypal Visa et Mastercard. </li>
      <li>Lorsqu'une commande est effectuée et payée, le responsable recevra immédiatement le résumé de la commande sur
        son appareil Apple ou Android, aucun besoin de matériel supplèmentaire.</li>
      <li>Un numéro de commande ainsi qu'un QR Code seront fournis au client afin de permettre au responsable de
        vérifier les commandes. Les preuves d'achat pourront être conservées.</li>
      <li>Les recettes seront directement virées sur le compte bancaire renseigné, nous ne disposerons pas de cet
        argent.</li>
      <li>Notre application propose également un accès à un tableau de bord personnalisé avec des statistiaues poussées
        afin de vous permettre une analyse clientèle efficiente.</li>
      <li>Par le biais de ce service, vous pourrez également envoyer des notifications à vos clients afin de les
        informer sur les évènements spéciaux ou les promotions pratiquées pour une prospection optimale.</li>
      <li>Notre service client est à votre disposition, vous pouvez nous envoyer un mail pour toute inscription, demande
        d'information ou réclamation.</li>
    </ul>
  </div>

  <div class="container">
    <h1>Nos formules</h1>
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Formule by day</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/about" class="btn btn-primary">Plus d'informations</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Formule by day premium</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/about" class="btn btn-primary">Plus d'informations</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Formule by day ultimate</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/about" class="btn btn-primary">Plus d'informations</a>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Formule percent</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/about" class="btn btn-primary">Plus d'informations</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Formule percent premium</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/about" class="btn btn-primary">Plus d'informations</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Formule percent ultimate</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/about" class="btn btn-primary">Plus d'informations</a>
          </div>
        </div>
      </div>
    </div>
  </div>
     <div class="container">
    <div class="row">
      <a href="/professionnal/form-pro">
        <div class="col-2">
          <div class="card" style="width: 10rem;">
            <img src="../pictures/mail.png" class="card-img-top" alt="client">
            <div class="card-body">
              <p class="card-text">Contacter le service client</p>
            </div>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="col-2">
          <div class="card" style="width: 10rem;">
            <img src="../pictures/doc.png" class="card-img-top" alt="client">
            <div class="card-body">
              <p class="card-text">Télecharger le PDF de présentation</p>
            </div>
          </div>
        </div>
      </a>

      <a href="#">
        <div class="col-2">
          <div class="card" style="width: 10rem;">
            <img src="../pictures/android.png" class="card-img-top" alt="chef d'établissement">
            <div class="card-body">
              <p class="card-text">Télécharger l'application pour android</p>
            </div>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="col-2">
          <div class="card" style="width: 10rem;">
            <img src="../pictures/apple.png" class="card-img-top" alt="chef d'établissement">
            <div class="card-body">
              <p class="card-text">Télécharger l'application pour IOS</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</body>
<footer>
  <script src="../js/footer.js"></script>
</footer>

</html>