<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>Order'N Drink - Devenir partenaire</title>
  <script src="../js/nav.js"></script>
  <!-- 
      <link rel="stylesheet" href="style.css">
      <script src="script.js"></script>
    -->
</head>

<body>
  <div class="head">
    <img class="bg" src="../pictures/pro-head.png">
    <p class="lead"><p class="bold">Order'N Drink </p>est une solution à disposition de tous les propriétaires de bars permettant l'automatisation des commandes sur place.</p>
    <div class="store">
      <a class="store-link" href="#"><img class="btn" src="../pictures/app-store.png"></a>
      <a class="store-link" href="#"><img class="btn" src="../pictures/google-play.png"></a>
      <div class="button">
        <a class="contact" href="/form"><img class="contact-icon" src="../pictures/msg.png">Contacter le service client</a>
      </div>
    </div>
    <img class="tablet-mockup" src="../pictures/tablet-mockup.png">
  </div>
  <div class="container">
    <h1 class="article">Le service Order'N Drink</h1>
    <ul class="pro-list">
      <li>
        <img class="check" src="../pictures/check.png">
        <p>Order'N Drink est une solution permettant de digitaliser les commandes au sein des établissements de débit de boisson proposant au client de prendre ses commandes 
lui-même, grâce à une application disponible sur les smartphones sous Android et IOS.</p>
      </li>
      <li>
        <img class="check" src="../pictures/check.png">
        <p>Le client pourra payer grâce aux nombreuses plateformes de paiement 100% sécurisées proposées : Google pay, Apple pay, Lydia, Paypal Visa et Mastercard.</p>
      </li>
      <li>
        <img class="check" src="../pictures/check.png">
        <p>Lorsqu'une commande est effectuée et payée, le responsable recevra immédiatement le résumé de la commande sur son appareil Apple ou Android, aucun besoin de matériel supplémentaire.</p>
      </li>
      <li>
        <img class="check" src="../pictures/check.png">
        <p>Un numéro de commande ainsi qu'un QR Code seront fournis au client afin de permettre au responsable de vérifier les commandes. Les preuves d'achat pourront être conservées.</p>
      </li>
      <li>
        <img class="check" src="../pictures/check.png">
        <p>Notre application propose également un accès à un tableau de bord personnalisé avec des statistiques poussées afin de vous permettre une analyse clientèle efficiente.</p>
      </li>
      <li>
        <img class="check" src="../pictures/check.png">
        <p>Par le biais de ce service, vous pourrez également envoyer des notifications à vos clients afin de les informer sur les évènements spéciaux ou les promotions pratiquées pour une prospection optimale.</p>
      </li>
    </ul>
  </div>


  <div class="container">
    <h1 class="article">Nos formules</h1>

    <div class="offers-col">
      <img class="ribbon" src="../pictures/ribbon.png">
      <h2 class="card-title">Basic</h2>
      <h3 class="price">5 €</h3>
      <p class="price-precision">/ jour</p>

      <ul class="bundle">
        <li>
          <img class="bundle-icon" src="../pictures/included.png">
          <p>Statistiques de vente</p>
        </li>
        <li>
          <img class="bundle-icon" src="../pictures/included.png">
          <p>Téléchargement des factures</p>
        </li>
        <li>
          <img class="bundle-icon" src="../pictures/not-included.png">
          <p>Base de données clients </p>
        </li>
        <li>
          <img class="bundle-icon" src="../pictures/not-included.png">
          <p>Envoi de notifications promotionnelles aux clients</p>
        </li>
        <li>
          <img class="bundle-icon" src="../pictures/not-included.png">
          <p>Ciblage des utilisateurs selon les statistiques</p>
        </li>
      </ul>
      <p class="tryme">Essai gratuit de 7 jours</p>
      <a class="offer-btn" href="#">J'en profite</a>
    </div>


    <div class="offers-col inactive">
      <img class="ribbon" src="../pictures/future-ribbon.png">
      <h2 class="card-title">Premium</h2>
      <h3 class="price">5 €</h3>
      <p class="price-precision">/ jour</p>

      <ul class="bundle">
        <li>
          <img class="bundle-icon" src="../pictures/included.png">
          <p>Statistiques de vente</p>
        </li>
        <li>
          <img class="bundle-icon" src="../pictures/included.png">
          <p>Téléchargement des factures</p>
        </li>
        <li>
          <img class="bundle-icon" src="../pictures/included.png">
          <p>Base de données clients </p>
        </li>
        <li>
          <img class="bundle-icon" src="../pictures/included.png">
          <p>Envoi de notifications promotionnelles aux clients</p>
        </li>
        <li>
          <img class="bundle-icon" src="../pictures/included.png">
          <p>Ciblage des utilisateurs selon les statistiques</p>
        </li>
      </ul>
      <p class="tryme">Essai gratuit de 7 jours</p>
      <a class="offer-btn" href="#">J'en profite</a>
    </div>
  </div>
</body>
<footer>
  <script src="../js/footer.js"></script>
</footer>

</html>